.tags {
  position:relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--text-secondary);
  font-size: 0.625rem;
}

.tags__list {
  display: flex;
  flex: row;
  gap: .5rem;
}

.tags__item {
  position: relative;
  background: var(--bg-tertiary);
}

.tags__link {
  position:relative;
}

.tags__label {

}