:root {

  /**
   * desaturated colors in order
   * of luminence (dark - light)
   */
   --black: #000000;
   --darkly: #151110;
   --vanta: #1a192a;
   --cement: #CCCCCC;
   --light-roast: #d0c4b3;
   --creme: #e7e2db;
   --elephant: #EBE9E7;
   --greayt: #F3F3F3;
   --white: #fff;

  /* 
   * mid-luminence (~40% - 60%)
   * nicely named accent colors 
   */
  --tart-orange: hsla(359, 96%, 62%, 1);
  --orange-red: hsla(21, 93%, 56%, 1);
  --yellow-orange-color-wheel: hsla(33, 96%, 55%, 1);
  --maize-crayola: hsla(42, 96%, 64%, 1);
  --yellow-green: hsla(94, 58%, 59%, 1);
  --mountain-meadow: hsla(162, 62%, 46%, 1);
  --spanish-blue: hsla(208, 49%, 45%, 1);

}