.post {
  position: relative;
}

.post__title {
  @apply text-4xl font-black tracking-wider;
}

.post__title::first-letter {
  color: var(--accent-red);
}

.post__more-links {
  border-top: 1px solid var(--text-secondary);
  @apply flex justify-between py-8;
}

.post__more-button {
  background: var(--bg-secondary);
  color: var(--text-secondary);
  @apply rounded p-2 text-sm;
  &:hover {
    background: var(--bg-tertiary);
  }
}
