:root {

  /**
   * desaturated colors in order
   * of luminence (light - dark)
   */
  --white: hsla(0, 0%, 100%, 1);
  --light-gray: hsla(0, 0%, 83%, 1);
  --silver: hsla(0, 0%, 79%, 1);
  --gray-x-11-gray: hsla(0, 2%, 75%, 1);
  --quick-silver: hsla(0, 1%, 64%, 1);
  --spanish-gray: hsla(0, 1%, 56%, 1);
  --sonic-silver: hsla(0, 1%, 44%, 1);
  --jet: hsla(0, 2%, 20%, 1);
  --eerie-black: hsla(0, 3%, 8%, 1);

  /*
   * mid-luminence (~40% - 60%)
   * nicely named accent colors
   */
  --tart-orange: hsla(359, 96%, 62%, 1);
  --orange-red: hsla(21, 93%, 56%, 1);
  --yellow-orange-color-wheel: hsla(33, 96%, 55%, 1);
  --maize-crayola: hsla(42, 96%, 64%, 1);
  --yellow-green: hsla(94, 58%, 59%, 1);
  --mountain-meadow: hsla(162, 62%, 46%, 1);
  --spanish-blue: hsla(208, 49%, 45%, 1);
}
