.theme-toggle {
  position: relative;
  background: var(--bg-alt);
}

.theme-toggle:hover {
  background: var(--bg-primary);
}

.theme-toggle__icon {
  height: 2.5rem;
  width: 2.5rem;
  padding: .5rem;
  border-radius: .25rem;
  color: var(--text-primary);
}