:root {
  --bg-primary: var(--light-gray);
  --bg-secondary: var(--white);
  --bg-tertiary: var(--gray-x-11-gray);
  --bg-table-header: var(--nba-blue);

  --bg-form: var(--creme);
  --bg-form-accent: var(--abyss);
  
  --text-primary: var(--jet);
  --text-secondary: var(--black);
  --text-form: var(--jet);
  --text-form-accent: var(--white);
  --text-table-header: var(--white);

  --accent-border: var(--spanish-blue);
}