.site-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: .25rem;
  flex-wrap: nowrap;
}

.site-header__title {
  @apply text-xl font-bold tracking-widest lowercase flex-grow;
}

.site-header__w {
  color: var(--accent-red);
}
