.site-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  @apply p-2;
}

.site-header__title {
  @apply text-3xl font-bold tracking-wide lowercase flex-grow;
}

.site-header__w {
  color: var(--accent-red);
}
