.site-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: .25rem;
  flex-wrap: nowrap;
}

.site-header__title {
  font-size: 2rem;
  letter-spacing: 1px;
  text-transform: lowercase;
}

.site-header__w {
  color: var(--accent-red);
}
