@mixin heading-xl {
  @include text-5xl;
  font-family: var(--font-bold);
  color: var(--text-secondary);
}

@mixin heading-lg {
  @include text-4xl;
  font-family: var(--font-bold);
  color: var(--text-secondary);
}

@mixin heading {
  @include text-3xl;
  font-family: var(--font-bold);
  color: var(--text-secondary);
}