:root {
  --bg-primary: #f3f4f6;
  --bg-secondary: #ffffff;
  --bg-tertiary: #f9fafb;

  --text-primary: #1f2937;
  --text-secondary: #374151;

  --accent-red: #dc2626;
  --accent-yellow: #fcd34d;
  --accent-blue: #2563eb;
  --accent-green: #059669;
}