
@font-face {
  font-family: 'Futura-PT-Book';
  src: url('@/assets/fonts/futura-pt-book.otf') format('opentype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}

:root {
  --font-sans: 'Futura-PT-Book', sans-serif;
}