.nuxt-content {
  position: relative;
  font-size: 18px;
}

.nuxt-content p {
  margin: 1rem 0;
}

.nuxt-content a {
  color: var(--accent-red);
}

.nuxt-content img {
  border: 0.5rem solid var(--bg-secondary);
  border-radius: 0.25rem;
}
